In [6]:
import pandas as pd
import numpy as np
import statistics
from sklearn.preprocessing import MinMaxScaler

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
aluguel_estimado_pof = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/ALUGUEL_ESTIMADO.csv', delimiter=',')

In [9]:
aluguel_estimado_pof.head(15)

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,NUM_UC,QUADRO,V9001,V9002,V8000,V9010,V9011,DEFLATOR,V8000_DEFLA,COD_IMPUT_VALOR,FATOR_ANUALIZACAO,PESO,PESO_FINAL,RENDA_TOTAL
0,11,1103,1,110005400,1,1,0,101,11,2000.00,9,12,1.000853,2001.71,0,1,272.806669,372.984516,11254.75
1,11,1103,1,110005400,4,1,0,101,11,500.00,10,12,0.999417,499.71,0,1,272.806669,372.984516,4769.13
2,11,1103,1,110005400,5,1,0,101,11,300.00,10,12,0.999417,299.83,0,1,272.806669,372.984516,2313.61
3,11,1103,1,110005400,6,1,0,101,11,400.00,10,12,0.999417,399.77,0,1,272.806669,372.984516,6596.90
4,11,1103,1,110005400,7,1,0,101,11,200.00,10,12,0.999209,199.84,0,1,272.806669,372.984516,366.43
5,11,1103,1,110005400,8,1,0,101,11,400.00,10,12,0.999209,399.68,0,1,272.806669,372.984516,2299.82
6,11,1103,1,110005400,9,1,0,101,11,300.00,10,12,0.999209,299.76,0,1,272.806669,372.984516,2114.34
7,11,1103,1,110005400,10,1,0,101,11,450.00,11,12,1.000183,450.08,0,1,272.806669,372.984516,4317.30
8,11,1103,1,110005400,12,1,0,101,11,200.00,12,12,1.000642,200.13,0,1,272.806669,372.984516,2399.89
9,11,1103,1,110005400,13,1,0,101,11,9999999.99,12,12,1.000700,700.21,1,1,272.806669,372.984516,3795.54
10,11,1109,2,110020039,1,1,0,101,11,200.00,6,12,1.004270,200.85,0,1,301.435294,412.125911,955.55
11,11,1109,2,110020039,2,1,0,101,11,150.00,6,12,1.004270,150.64,0,1,301.435294,412.125911,552.50
12,11,1109,2,110020039,4,1,0,101,11,80.00,6,12,1.003798,80.30,0,1,301.435294,412.125911,277.42
13,11,1109,2,110020039,5,1,0,101,11,100.00,6,12,1.003798,100.38,0,1,301.435294,412.125911,3396.98
14,11,1109,2,110020039,6,1,0,101,11,400.00,7,12,1.004273,401.71,0,1,301.435294,412.125911,814.70

In [10]:
aluguel_estimado_pof.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'QUADRO', 'V9001', 'V9002', 'V8000', 'V9010', 'V9011',
       'DEFLATOR', 'V8000_DEFLA', 'COD_IMPUT_VALOR', 'FATOR_ANUALIZACAO',
       'PESO', 'PESO_FINAL', 'RENDA_TOTAL'],
      dtype='object')

In [11]:
aluguel_estimado_pof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48935 entries, 0 to 48934
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UF                 48935 non-null  int64
 1   ESTRATO_POF        48935 non-null  int64
 2   TIPO_SITUACAO_REG  48935 non-null  int64
 3   COD_UPA            48935 non-null  int64
 4   NUM_DOM            48935 non-null  int64
 5   NUM_UC             48935 non-null  int64
 6   QUADRO             48935 non-null  int64
 7   V9001              48935 non-null  int64
 8   V9002              48935 non-null  int64
 9   V8000              48935 non-null  float64
 10  V9010              48935 non-null  int64
 11  V9011              48935 non-null  int64
 12  DEFLATOR           48935 non-null  float64
 13  V8000_DEFLA        48935 non-null  float64
 14  COD_IMPUT_VALOR    48935 non-null  int64
 15  FATOR_ANUALIZACAO  48935 non-null  int64
 16  PESO               48935 non-null  float64
 17  PESO_FINAL         48935 non-null  float64
 18  RENDA_TOTAL        48935 non-null  float64
dtypes: float64(6), int64(13)
memory usage: 7.1 MB

In [12]:
aluguel_estimado_pof.isnull().sum()

UF                   0
ESTRATO_POF          0
TIPO_SITUACAO_REG    0
COD_UPA              0
NUM_DOM              0
NUM_UC               0
QUADRO               0
V9001                0
V9002                0
V8000                0
V9010                0
V9011                0
DEFLATOR             0
V8000_DEFLA          0
COD_IMPUT_VALOR      0
FATOR_ANUALIZACAO    0
PESO                 0
PESO_FINAL           0
RENDA_TOTAL          0
dtype: int64

In [13]:
aluguel_estimado_pof.isna().sum()

UF                   0
ESTRATO_POF          0
TIPO_SITUACAO_REG    0
COD_UPA              0
NUM_DOM              0
NUM_UC               0
QUADRO               0
V9001                0
V9002                0
V8000                0
V9010                0
V9011                0
DEFLATOR             0
V8000_DEFLA          0
COD_IMPUT_VALOR      0
FATOR_ANUALIZACAO    0
PESO                 0
PESO_FINAL           0
RENDA_TOTAL          0
dtype: int64

In [14]:
aluguel_estimado_pof_zero_counts = aluguel_estimado_pof.eq(0).sum()
print(aluguel_estimado_pof_zero_counts)

UF                       0
ESTRATO_POF              0
TIPO_SITUACAO_REG        0
COD_UPA                  0
NUM_DOM                  0
NUM_UC                   0
QUADRO               48935
V9001                    0
V9002                    0
V8000                    0
V9010                    0
V9011                   18
DEFLATOR                 0
V8000_DEFLA              0
COD_IMPUT_VALOR      46446
FATOR_ANUALIZACAO        0
PESO                     0
PESO_FINAL               0
RENDA_TOTAL              0
dtype: int64

In [85]:
statistics.mean(aluguel_estimado_pof['RENDA_TOTAL'])

4805.206361295596

In [86]:
statistics.median(aluguel_estimado_pof['RENDA_TOTAL'])

2998.11

In [87]:
statistics.mode(aluguel_estimado_pof['RENDA_TOTAL'])

2978.06

In [15]:
aluguel_estimado_pof = aluguel_estimado_pof.drop_duplicates()

aluguel_estimado_pof.to_parquet('aluguel_estimado_pof.parquet', index=False)

## Tabela 2 - POF - Domicilio

In [17]:
domicilio_pof = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/DOMICILIO.csv', delimiter=',')
domicilio_pof.head(15)

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,V0201,V0202,V0203,V0204,V0205,...,V02162,V02163,V02164,V0217,V0219,V0220,V0221,PESO,PESO_FINAL,V6199
0,11,1103,1,110005400,1,1,1,1,1,10,...,2,1,2,1,NaN,1,1,272.806669,372.984516,1
1,11,1103,1,110005400,2,1,1,1,1,5,...,2,1,2,3,1.0,1,1,272.806669,372.984516,1
2,11,1103,1,110005400,4,1,4,1,1,5,...,2,2,2,1,NaN,1,1,272.806669,372.984516,1
3,11,1103,1,110005400,5,1,4,1,1,7,...,2,2,2,1,NaN,2,1,272.806669,372.984516,1
4,11,1103,1,110005400,6,1,1,1,1,6,...,2,2,2,1,NaN,1,1,272.806669,372.984516,1
5,11,1103,1,110005400,7,1,4,1,3,2,...,2,2,2,1,NaN,1,1,272.806669,372.984516,2
6,11,1103,1,110005400,8,1,1,1,1,8,...,1,2,2,1,NaN,1,1,272.806669,372.984516,1
7,11,1103,1,110005400,9,1,4,1,1,6,...,2,1,2,1,NaN,1,1,272.806669,372.984516,1
8,11,1103,1,110005400,10,1,1,1,1,6,...,2,1,2,1,NaN,1,1,272.806669,372.984516,1
9,11,1103,1,110005400,11,1,1,2,1,7,...,2,1,2,3,3.0,2,1,272.806669,372.984516,1
10,11,1103,1,110005400,12,1,1,1,1,5,...,2,2,2,1,NaN,2,1,272.806669,372.984516,2
11,11,1103,1,110005400,13,1,2,1,3,6,...,2,1,2,1,NaN,2,1,272.806669,372.984516,2
12,11,1109,2,110020039,1,1,4,1,3,5,...,1,2,2,1,NaN,2,3,301.435294,412.125911,2
13,11,1109,2,110020039,2,1,4,1,3,5,...,2,2,2,1,NaN,2,3,301.435294,412.125911,2
14,11,1109,2,110020039,4,1,4,1,4,3,...,2,2,2,4,NaN,2,3,301.435294,412.125911,1

In [18]:
domicilio_pof.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM', 'V0201',
       'V0202', 'V0203', 'V0204', 'V0205', 'V0206', 'V0207', 'V0208', 'V0209',
       'V02101', 'V02102', 'V02103', 'V02104', 'V02105', 'V02111', 'V02112',
       'V02113', 'V0212', 'V0213', 'V02141', 'V02142', 'V0215', 'V02161',
       'V02162', 'V02163', 'V02164', 'V0217', 'V0219', 'V0220', 'V0221',
       'PESO', 'PESO_FINAL', 'V6199'],
      dtype='object')

In [20]:
domicilio_pof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57920 entries, 0 to 57919
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UF                 57920 non-null  int64
 1   ESTRATO_POF        57920 non-null  int64
 2   TIPO_SITUACAO_REG  57920 non-null  int64
 3   COD_UPA            57920 non-null  int64
 4   NUM_DOM            57920 non-null  int64
 5   V0201              57920 non-null  int64
 6   V0202              57920 non-null  int64
 7   V0203              57920 non-null  int64
 8   V0204              57920 non-null  int64
 9   V0205              57920 non-null  int64
 10  V0206              57920 non-null  int64
 11  V0207              57920 non-null  int64
 12  V0208              44187 non-null  float64
 13  V0209              57920 non-null  int64
 14  V02101             54854 non-null  float64
 15  V02102             54854 non-null  float64
 16  V02103             54854 non-null  float64
 17  V02104             54854 non-null  float64
 18  V02105             54854 non-null  float64
 19  V02111             57920 non-null  int64
 20  V02112             2263 non-null   float64
 21  V02113             1910 non-null   float64
 22  V0212              57256 non-null  float64
 23  V0213              57920 non-null  int64
 24  V02141             57920 non-null  int64
 25  V02142             57920 non-null  int64
 26  V0215              57333 non-null  float64
 27  V02161             57920 non-null  int64
 28  V02162             57920 non-null  int64
 29  V02163             57920 non-null  int64
 30  V02164             57920 non-null  int64
 31  V0217              57920 non-null  int64
 32  V0219              8985 non-null   float64
 33  V0220              57920 non-null  int64
 34  V0221              57920 non-null  int64
 35  PESO               57920 non-null  float64
 36  PESO_FINAL         57920 non-null  float64
 37  V6199              57920 non-null  int64
dtypes: float64(13), int64(25)
memory usage: 16.8 MB

In [21]:
domicilio_pof.isnull().sum()

UF                       0
ESTRATO_POF              0
TIPO_SITUACAO_REG        0
COD_UPA                  0
NUM_DOM                  0
V0201                    0
V0202                    0
V0203                    0
V0204                    0
V0205                    0
V0206                    0
V0207                    0
V0208                13733
V0209                    0
V02101                3066
V02102                3066
V02103                3066
V02104                3066
V02105                3066
V02111                   0
V02112               55657
V02113               56010
V0212                  664
V0213                    0
V02141                   0
V02142                   0
V0215                  587
V02161                   0
V02162                   0
V02163                   0
V02164                   0
V0217                    0
V0219                48935
V0220                    0
V0221                    0
PESO                     0
PESO_FINAL               0
V6199                    0
dtype: int64

In [22]:
domicilio_pof.nunique()

UF                     27
ESTRATO_POF           575
TIPO_SITUACAO_REG       2
COD_UPA              5501
NUM_DOM                20
V0201                   3
V0202                   6
V0203                   6
V0204                   5
V0205                  26
V0206                   9
V0207                   6
V0208                   4
V0209                   3
V02101                  2
V02102                  2
V02103                  2
V02104                  2
V02105                  2
V02111                 11
V02112                  4
V02113                  2
V0212                   5
V0213                   6
V02141                  2
V02142                  2
V0215                   3
V02161                  2
V02162                  2
V02163                  2
V02164                  2
V0217                   7
V0219                   3
V0220                   2
V0221                   5
PESO                 5501
PESO_FINAL           5501
V6199                   4
dtype: int64

In [23]:
domicilio_pof_zero_counts = domicilio_pof.eq(0).sum()
print(domicilio_pof_zero_counts)

UF                      0
ESTRATO_POF             0
TIPO_SITUACAO_REG       0
COD_UPA                 0
NUM_DOM                 0
V0201                   0
V0202                   0
V0203                   0
V0204                   0
V0205                   0
V0206                   0
V0207                   0
V0208                   0
V0209                   0
V02101                  0
V02102                  0
V02103                  0
V02104                  0
V02105                  0
V02111               2263
V02112               1910
V02113                  0
V0212                   0
V0213                   0
V02141                  0
V02142                  0
V0215                   0
V02161                  0
V02162                  0
V02163                  0
V02164                  0
V0217                   0
V0219                   0
V0220                   0
V0221                   0
PESO                    0
PESO_FINAL              0
V6199                   0
dtype: int64

## Tabela 3 - POF - SERVICO_NAO_MONETARIO_POF

In [24]:
servico_nao_monetario_pof1 = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/servico_nao_monetario_pof4.csv', delimiter=',')

In [25]:
servico_nao_monetario_pof1.head(15)

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,NUM_UC,COD_INFORMANTE,QUADRO,SEQ,V9001,...,V4104,V4105,DEFLATOR,V8000_DEFLA,COD_IMPUT_VALOR,FATOR_ANUALIZACAO,PESO,PESO_FINAL,RENDA_TOTAL,V9004
0,11,1103,1,110005400,1,1,1,49,4,4900501,...,NaN,NaN,1.008465,504.23,0,1,272.806669,372.984516,11254.75,6202.0
1,11,1103,1,110005400,2,1,1,49,1,4900201,...,NaN,NaN,1.008465,302.17,1,1,272.806669,372.984516,10828.07,6202.0
2,11,1103,1,110005400,4,1,2,42,4,4200501,...,NaN,NaN,0.993734,204.89,1,4,272.806669,372.984516,4769.13,3912.0
3,11,1103,1,110005400,4,1,1,49,3,4900401,...,NaN,NaN,1.007059,607.52,1,1,272.806669,372.984516,4769.13,6202.0
4,11,1103,1,110005400,5,1,1,42,4,4200501,...,NaN,NaN,0.993734,200.00,1,4,272.806669,372.984516,2313.61,3910.0
5,11,1103,1,110005400,6,1,1,49,2,4900301,...,NaN,NaN,1.007059,238.82,1,1,272.806669,372.984516,6596.90,6202.0
6,11,1103,1,110005400,7,1,1,49,2,4900301,...,NaN,NaN,1.007059,705.06,1,1,272.806669,372.984516,366.43,6202.0
7,11,1103,1,110005400,8,1,1,42,4,4200501,...,NaN,NaN,0.997678,199.54,0,4,272.806669,372.984516,2299.82,3911.0
8,11,1103,1,110005400,9,1,1,49,2,4900301,...,NaN,NaN,1.007059,805.65,1,1,272.806669,372.984516,2114.34,6202.0
9,11,1103,1,110005400,10,1,3,49,2,4900301,...,NaN,NaN,NaN,403.39,0,1,272.806669,372.984516,4317.30,8303.0
10,11,1103,1,110005400,10,1,2,49,4,4900501,...,NaN,NaN,NaN,302.54,0,1,272.806669,372.984516,4317.30,6202.0
11,11,1103,1,110005400,11,1,2,42,4,4200501,...,NaN,NaN,1.000000,500.00,0,4,272.806669,372.984516,3366.99,3910.0
12,11,1103,1,110005400,12,1,1,41,5,4100601,...,5.0,1.0,1.007194,352.92,1,4,272.806669,372.984516,2399.89,NaN
13,11,1103,1,110005400,12,1,2,41,5,4100601,...,5.0,1.0,1.007194,99.61,1,4,272.806669,372.984516,2399.89,NaN
14,11,1103,1,110005400,12,1,1,41,16,4101701,...,5.0,1.0,0.969264,244.88,1,4,272.806669,372.984516,2399.89,NaN

In [26]:
servico_nao_monetario_pof1.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'COD_INFORMANTE', 'QUADRO', 'SEQ', 'V9001', 'V9002', 'V8000',
       'V9010', 'V9011', 'V4104', 'V4105', 'DEFLATOR', 'V8000_DEFLA',
       'COD_IMPUT_VALOR', 'FATOR_ANUALIZACAO', 'PESO', 'PESO_FINAL',
       'RENDA_TOTAL', 'V9004'],
      dtype='object')

In [27]:
servico_nao_monetario_pof1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126409 entries, 0 to 126408
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   UF                 126409 non-null  int64
 1   ESTRATO_POF        126409 non-null  int64
 2   TIPO_SITUACAO_REG  126409 non-null  int64
 3   COD_UPA            126409 non-null  int64
 4   NUM_DOM            126409 non-null  int64
 5   NUM_UC             126409 non-null  int64
 6   COD_INFORMANTE     126409 non-null  int64
 7   QUADRO             126409 non-null  int64
 8   SEQ                126409 non-null  int64
 9   V9001              126409 non-null  int64
 10  V9002              126409 non-null  int64
 11  V8000              126409 non-null  float64
 12  V9010              41041 non-null   float64
 13  V9011              41041 non-null   float64
 14  V4104              6608 non-null    float64
 15  V4105              6608 non-null    float64
 16  DEFLATOR           113555 non-null  float64
 17  V8000_DEFLA        126409 non-null  float64
 18  COD_IMPUT_VALOR    126409 non-null  int64
 19  FATOR_ANUALIZACAO  126409 non-null  int64
 20  PESO               126409 non-null  float64
 21  PESO_FINAL         126409 non-null  float64
 22  RENDA_TOTAL        126409 non-null  float64
 23  V9004              91837 non-null   float64
dtypes: float64(11), int64(13)
memory usage: 23.1 MB

In [28]:
servico_nao_monetario_pof1.isnull().sum()

UF                        0
ESTRATO_POF               0
TIPO_SITUACAO_REG         0
COD_UPA                   0
NUM_DOM                   0
NUM_UC                    0
COD_INFORMANTE            0
QUADRO                    0
SEQ                       0
V9001                     0
V9002                     0
V8000                     0
V9010                 85368
V9011                 85368
V4104                119801
V4105                119801
DEFLATOR              12854
V8000_DEFLA               0
COD_IMPUT_VALOR           0
FATOR_ANUALIZACAO         0
PESO                      0
PESO_FINAL                0
RENDA_TOTAL               0
V9004                 34572
dtype: int64

In [29]:
servico_nao_monetario_pof1.nunique()

UF                      27
ESTRATO_POF            575
TIPO_SITUACAO_REG        2
COD_UPA               5357
NUM_DOM                 20
NUM_UC                   3
COD_INFORMANTE          13
QUADRO                  22
SEQ                     54
V9001                  581
V9002                    5
V8000                 1365
V9010                   12
V9011                   12
V4104                    8
V4105                    3
DEFLATOR             23167
V8000_DEFLA          27739
COD_IMPUT_VALOR          2
FATOR_ANUALIZACAO        4
PESO                  5357
PESO_FINAL            5357
RENDA_TOTAL          37287
V9004                  263
dtype: int64

In [30]:
servico_nao_monetario_pof1_zero_counts = servico_nao_monetario_pof1.eq(0).sum()
print(servico_nao_monetario_pof1_zero_counts)

UF                       0
ESTRATO_POF              0
TIPO_SITUACAO_REG        0
COD_UPA                  0
NUM_DOM                  0
NUM_UC                   0
COD_INFORMANTE           0
QUADRO                   0
SEQ                  12654
V9001                    0
V9002                    0
V8000                    0
V9010                    0
V9011                    0
V4104                    0
V4105                    0
DEFLATOR                 0
V8000_DEFLA              0
COD_IMPUT_VALOR      96708
FATOR_ANUALIZACAO        0
PESO                     0
PESO_FINAL               0
RENDA_TOTAL              1
V9004                    0
dtype: int64

In [89]:
statistics.mean(servico_nao_monetario_pof1['RENDA_TOTAL'])

4671.853452839592

In [90]:
statistics.median(servico_nao_monetario_pof1['RENDA_TOTAL'])

3193.84

In [91]:
statistics.mode(servico_nao_monetario_pof1['RENDA_TOTAL'])

2361.95

## Tabela 4 - POF - SERVICO_NAO_MONETARIO_POF2

In [31]:
servico_nao_monetario_pof = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/SERVICO_NAO_MONETARIO_POF2.csv', delimiter=',')

In [32]:
servico_nao_monetario_pof.head(15)

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,NUM_UC,QUADRO,SEQ,V9001,V9002,...,V1905,DEFLATOR,V8000_DEFLA,V1904_DEFLA,COD_IMPUT_VALOR,FATOR_ANUALIZACAO,PESO,PESO_FINAL,RENDA_TOTAL,V9004
0,11,1105,1,110000620,4,1,8,23,802401,7,...,NaN,0.996728,299.02,NaN,0,4,707.692308,967.565321,852.91,7502.0
1,11,1105,1,110000620,4,1,10,0,1000101,7,...,NaN,0.993870,198.77,NaN,0,1,707.692308,967.565321,852.91,NaN
2,11,1105,1,110000620,4,1,13,1,1300201,7,...,NaN,1.008827,100.21,NaN,1,1,707.692308,967.565321,852.91,NaN
3,11,1105,1,110000620,7,1,12,3,1200401,7,...,NaN,1.025419,65.36,NaN,1,1,707.692308,967.565321,2721.33,NaN
4,11,1105,1,110000620,10,1,6,0,600101,7,...,NaN,0.889559,161.57,NaN,1,12,707.692308,967.565321,515.55,NaN
5,11,1105,1,110000620,11,1,6,0,600101,7,...,NaN,0.881532,308.54,NaN,0,12,707.692308,967.565321,5940.34,NaN
6,11,1103,1,110002334,2,1,10,0,1000101,7,...,NaN,0.993447,298.03,NaN,0,1,384.064292,525.097257,4017.97,NaN
7,11,1103,1,110005695,1,1,19,1,1900201,7,...,3.0,1.017246,82.23,NaN,1,1,323.688811,442.551184,2229.23,NaN
8,11,1103,1,110002291,10,1,6,4,600501,7,...,NaN,1.000000,70.00,NaN,0,12,292.839161,400.373176,1250.32,NaN
9,11,1103,1,110010188,11,1,13,1,1300201,7,...,NaN,1.018487,10.18,NaN,0,1,377.947281,516.734008,2642.93,NaN
10,11,1105,1,110012387,10,1,8,22,802301,7,...,NaN,0.944450,22.25,NaN,1,4,231.636191,316.695749,4075.64,7502.0
11,11,1105,1,110019509,3,1,11,19,1102001,7,...,NaN,1.043793,313.14,NaN,0,1,450.147570,615.447100,2500.18,7502.0
12,11,1105,1,110019509,8,1,13,1,1300201,7,...,NaN,1.011106,151.67,NaN,0,1,450.147570,615.447100,1830.56,NaN
13,11,1105,1,110006184,5,1,6,4,600501,7,...,NaN,1.000000,40.00,NaN,0,12,463.176320,633.260161,8157.02,NaN
14,11,1105,1,110006184,5,1,12,3,1200401,7,...,NaN,1.094655,164.20,NaN,0,1,463.176320,633.260161,8157.02,NaN

In [33]:
servico_nao_monetario_pof.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'QUADRO', 'SEQ', 'V9001', 'V9002', 'V8000', 'V9010', 'V9011',
       'V1904', 'V1905', 'DEFLATOR', 'V8000_DEFLA', 'V1904_DEFLA',
       'COD_IMPUT_VALOR', 'FATOR_ANUALIZACAO', 'PESO', 'PESO_FINAL',
       'RENDA_TOTAL', 'V9004'],
      dtype='object')

In [34]:
servico_nao_monetario_pof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14711 entries, 0 to 14710
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UF                 14711 non-null  int64
 1   ESTRATO_POF        14711 non-null  int64
 2   TIPO_SITUACAO_REG  14711 non-null  int64
 3   COD_UPA            14711 non-null  int64
 4   NUM_DOM            14711 non-null  int64
 5   NUM_UC             14711 non-null  int64
 6   QUADRO             14711 non-null  int64
 7   SEQ                14711 non-null  int64
 8   V9001              14711 non-null  int64
 9   V9002              14711 non-null  int64
 10  V8000              14711 non-null  float64
 11  V9010              2512 non-null   float64
 12  V9011              2512 non-null   float64
 13  V1904              68 non-null     float64
 14  V1905              325 non-null    float64
 15  DEFLATOR           14500 non-null  float64
 16  V8000_DEFLA        14711 non-null  float64
 17  V1904_DEFLA        64 non-null     float64
 18  COD_IMPUT_VALOR    14711 non-null  int64
 19  FATOR_ANUALIZACAO  14711 non-null  int64
 20  PESO               14711 non-null  float64
 21  PESO_FINAL         14711 non-null  float64
 22  RENDA_TOTAL        14711 non-null  float64
 23  V9004              1460 non-null   float64
dtypes: float64(12), int64(12)
memory usage: 2.7 MB

In [35]:
servico_nao_monetario_pof.isnull().sum()

UF                       0
ESTRATO_POF              0
TIPO_SITUACAO_REG        0
COD_UPA                  0
NUM_DOM                  0
NUM_UC                   0
QUADRO                   0
SEQ                      0
V9001                    0
V9002                    0
V8000                    0
V9010                12199
V9011                12199
V1904                14643
V1905                14386
DEFLATOR               211
V8000_DEFLA              0
V1904_DEFLA          14647
COD_IMPUT_VALOR          0
FATOR_ANUALIZACAO        0
PESO                     0
PESO_FINAL               0
RENDA_TOTAL              0
V9004                13251
dtype: int64

In [36]:
servico_nao_monetario_pof.nunique()

UF                      27
ESTRATO_POF            569
TIPO_SITUACAO_REG        2
COD_UPA               3686
NUM_DOM                 20
NUM_UC                   3
QUADRO                   8
SEQ                     31
V9001                  114
V9002                    5
V8000                  860
V9010                   12
V9011                   12
V1904                   14
V1905                    3
DEFLATOR              3503
V8000_DEFLA           5820
V1904_DEFLA             52
COD_IMPUT_VALOR          2
FATOR_ANUALIZACAO        3
PESO                  3686
PESO_FINAL            3686
RENDA_TOTAL          10662
V9004                   61
dtype: int64

In [37]:
servico_nao_monetario_pof_zero_counts = servico_nao_monetario_pof.eq(0).sum()
print(servico_nao_monetario_pof_zero_counts)

UF                      0
ESTRATO_POF             0
TIPO_SITUACAO_REG       0
COD_UPA                 0
NUM_DOM                 0
NUM_UC                  0
QUADRO                  0
SEQ                  3155
V9001                   0
V9002                   0
V8000                   0
V9010                   0
V9011                   0
V1904                   0
V1905                   0
DEFLATOR                0
V8000_DEFLA             0
V1904_DEFLA             0
COD_IMPUT_VALOR      8929
FATOR_ANUALIZACAO       0
PESO                    0
PESO_FINAL              0
RENDA_TOTAL             0
V9004                   0
dtype: int64

In [92]:
statistics.mean(servico_nao_monetario_pof['RENDA_TOTAL'])

3635.863125552308

In [93]:
statistics.median(servico_nao_monetario_pof['RENDA_TOTAL'])

2595.56

In [94]:
statistics.mode(servico_nao_monetario_pof['RENDA_TOTAL'])

10231.84

## Tabela 5 - POF - Outros rendimentos

In [38]:
outros_rendimentos = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/outros_rendimentos.csv', delimiter=',')

In [39]:
outros_rendimentos.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'COD_INFORMANTE', 'QUADRO', 'SEQ', 'V9001', 'V8500', 'V8501',
       'V9010', 'V9011', 'DEFLATOR', 'V8500_DEFLA', 'V8501_DEFLA',
       'COD_IMPUT_VALOR', 'FATOR_ANUALIZACAO', 'PESO', 'PESO_FINAL',
       'RENDA_TOTAL'],
      dtype='object')

In [40]:
outros_rendimentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206108 entries, 0 to 206107
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   UF                 206108 non-null  int64
 1   ESTRATO_POF        206108 non-null  int64
 2   TIPO_SITUACAO_REG  206108 non-null  int64
 3   COD_UPA            206108 non-null  int64
 4   NUM_DOM            206108 non-null  int64
 5   NUM_UC             206108 non-null  int64
 6   COD_INFORMANTE     206108 non-null  int64
 7   QUADRO             206108 non-null  int64
 8   SEQ                206108 non-null  int64
 9   V9001              206108 non-null  int64
 10  V8500              206108 non-null  float64
 11  V8501              65591 non-null   float64
 12  V9010              65043 non-null   float64
 13  V9011              65043 non-null   float64
 14  DEFLATOR           193013 non-null  float64
 15  V8500_DEFLA        206108 non-null  float64
 16  V8501_DEFLA        30661 non-null   float64
 17  COD_IMPUT_VALOR    206108 non-null  int64
 18  FATOR_ANUALIZACAO  206108 non-null  int64
 19  PESO               206108 non-null  float64
 20  PESO_FINAL         206108 non-null  float64
 21  RENDA_TOTAL        206108 non-null  float64
dtypes: float64(10), int64(12)
memory usage: 34.6 MB

In [41]:
outros_rendimentos.isnull().sum()

UF                        0
ESTRATO_POF               0
TIPO_SITUACAO_REG         0
COD_UPA                   0
NUM_DOM                   0
NUM_UC                    0
COD_INFORMANTE            0
QUADRO                    0
SEQ                       0
V9001                     0
V8500                     0
V8501                140517
V9010                141065
V9011                141065
DEFLATOR              13095
V8500_DEFLA               0
V8501_DEFLA          175447
COD_IMPUT_VALOR           0
FATOR_ANUALIZACAO         0
PESO                      0
PESO_FINAL                0
RENDA_TOTAL               0
dtype: int64

In [42]:
outros_rendimentos.nunique()

UF                      27
ESTRATO_POF            575
TIPO_SITUACAO_REG        2
COD_UPA               5501
NUM_DOM                 20
NUM_UC                   3
COD_INFORMANTE          13
QUADRO                   4
SEQ                     36
V9001                  157
V8500                15580
V8501                 6688
V9010                   12
V9011                   12
DEFLATOR               366
V8500_DEFLA          54508
V8501_DEFLA          14617
COD_IMPUT_VALOR          2
FATOR_ANUALIZACAO        1
PESO                  5501
PESO_FINAL            5501
RENDA_TOTAL          50356
dtype: int64

In [43]:
outros_rendimentos_zero_counts = outros_rendimentos.eq(0).sum()
print(outros_rendimentos_zero_counts)

UF                        0
ESTRATO_POF               0
TIPO_SITUACAO_REG         0
COD_UPA                   0
NUM_DOM                   0
NUM_UC                    0
COD_INFORMANTE            0
QUADRO                    0
SEQ                   53561
V9001                     0
V8500                     0
V8501                     0
V9010                     0
V9011                     0
DEFLATOR                  0
V8500_DEFLA               0
V8501_DEFLA               0
COD_IMPUT_VALOR      197874
FATOR_ANUALIZACAO         0
PESO                      0
PESO_FINAL                0
RENDA_TOTAL               0
dtype: int64

In [95]:
statistics.mean(outros_rendimentos['RENDA_TOTAL'])

6561.741957711491

In [96]:
statistics.median(outros_rendimentos['RENDA_TOTAL'])

4136.71

In [97]:
statistics.mode(outros_rendimentos['RENDA_TOTAL'])

16935.91

## Tabela 6 - POF - Morador

In [44]:
morador_pof = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/MORADOR.csv', delimiter=',')

In [46]:
morador_pof.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'COD_INFORMANTE', 'V0306', 'V0401', 'V04021', 'V04022',
       'V04023', 'V0403', 'V0404', 'V0405', 'V0406', 'V0407', 'V0408', 'V0409',
       'V0410', 'V0411', 'V0412', 'V0413', 'V0414', 'V0415', 'V0416',
       'V041711', 'V041712', 'V041721', 'V041722', 'V041731', 'V041732',
       'V041741', 'V041742', 'V0418', 'V0419', 'V0420', 'V0421', 'V0422',
       'V0423', 'V0424', 'V0425', 'V0426', 'V0427', 'V0428', 'V0429', 'V0430',
       'ANOS_ESTUDO', 'PESO', 'PESO_FINAL', 'RENDA_TOTAL', 'NIVEL_INSTRUCAO',
       'RENDA_DISP_PC', 'RENDA_MONET_PC', 'RENDA_NAO_MONET_PC', 'DEDUCAO_PC'],
      dtype='object')

In [47]:
morador_pof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178431 entries, 0 to 178430
Data columns (total 56 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   UF                  178431 non-null  int64
 1   ESTRATO_POF         178431 non-null  int64
 2   TIPO_SITUACAO_REG   178431 non-null  int64
 3   COD_UPA             178431 non-null  int64
 4   NUM_DOM             178431 non-null  int64
 5   NUM_UC              178431 non-null  int64
 6   COD_INFORMANTE      178431 non-null  int64
 7   V0306               178431 non-null  int64
 8   V0401               178431 non-null  int64
 9   V04021              178431 non-null  int64
 10  V04022              178431 non-null  int64
 11  V04023              178431 non-null  int64
 12  V0403               178431 non-null  int64
 13  V0404               178431 non-null  int64
 14  V0405               178431 non-null  int64
 15  V0406               178431 non-null  int64
 16  V0407               148116 non-null  float64
 17  V0408               148116 non-null  float64
 18  V0409               128278 non-null  float64
 19  V0410               128278 non-null  float64
 20  V0411               52641 non-null   float64
 21  V0412               12336 non-null   float64
 22  V0413               128278 non-null  float64
 23  V0414               178431 non-null  int64
 24  V0415               178431 non-null  int64
 25  V0416               16730 non-null   float64
 26  V041711             16730 non-null   float64
 27  V041712             3038 non-null    float64
 28  V041721             16730 non-null   float64
 29  V041722             14231 non-null   float64
 30  V041731             16730 non-null   float64
 31  V041732             3376 non-null    float64
 32  V041741             16730 non-null   float64
 33  V041742             748 non-null     float64
 34  V0418               49691 non-null   float64
 35  V0419               49691 non-null   float64
 36  V0420               25903 non-null   float64
 37  V0421               6452 non-null    float64
 38  V0422               41505 non-null   float64
 39  V0423               6452 non-null    float64
 40  V0424               128740 non-null  float64
 41  V0425               113671 non-null  float64
 42  V0426               34118 non-null   float64
 43  V0427               13085 non-null   float64
 44  V0428               106178 non-null  float64
 45  V0429               101188 non-null  float64
 46  V0430               107528 non-null  float64
 47  ANOS_ESTUDO         178431 non-null  int64
 48  PESO                178431 non-null  float64
 49  PESO_FINAL          178431 non-null  float64
 50  RENDA_TOTAL         178431 non-null  float64
 51  NIVEL_INSTRUCAO     178431 non-null  int64
 52  RENDA_DISP_PC       178369 non-null  float64
 53  RENDA_MONET_PC      178369 non-null  float64
 54  RENDA_NAO_MONET_PC  178369 non-null  float64
 55  DEDUCAO_PC          178369 non-null  float64
dtypes: float64(36), int64(20)
memory usage: 76.2 MB

In [48]:
morador_pof.isnull().sum()

UF                         0
ESTRATO_POF                0
TIPO_SITUACAO_REG          0
COD_UPA                    0
NUM_DOM                    0
NUM_UC                     0
COD_INFORMANTE             0
V0306                      0
V0401                      0
V04021                     0
V04022                     0
V04023                     0
V0403                      0
V0404                      0
V0405                      0
V0406                      0
V0407                  30315
V0408                  30315
V0409                  50153
V0410                  50153
V0411                 125790
V0412                 166095
V0413                  50153
V0414                      0
V0415                      0
V0416                 161701
V041711               161701
V041712               175393
V041721               161701
V041722               164200
V041731               161701
V041732               175055
V041741               161701
V041742               177683
V0418                 128740
V0419                 128740
V0420                 152528
V0421                 171979
V0422                 136926
V0423                 171979
V0424                  49691
V0425                  64760
V0426                 144313
V0427                 165346
V0428                  72253
V0429                  77243
V0430                  70903
ANOS_ESTUDO                0
PESO                       0
PESO_FINAL                 0
RENDA_TOTAL                0
NIVEL_INSTRUCAO            0
RENDA_DISP_PC             62
RENDA_MONET_PC            62
RENDA_NAO_MONET_PC        62
DEDUCAO_PC                62
dtype: int64

In [49]:
morador_pof.nunique()

UF                       27
ESTRATO_POF             575
TIPO_SITUACAO_REG         2
COD_UPA                5501
NUM_DOM                  20
NUM_UC                    3
COD_INFORMANTE           17
V0306                    19
V0401                     2
V04021                   32
V04022                   13
V04023                  110
V0403                   110
V0404                     2
V0405                     6
V0406                     2
V0407                     2
V0408                     2
V0409                    14
V0410                     7
V0411                     8
V0412                     2
V0413                     7
V0414                     2
V0415                     2
V0416                     6
V041711                   2
V041712                   2
V041721                   2
V041722                   2
V041731                   2
V041732                   2
V041741                   2
V041742                   2
V0418                     2
V0419                    11
V0420                     2
V0421                     3
V0422                    13
V0423                     2
V0424                     2
V0425                    15
V0426                     2
V0427                     3
V0428                     3
V0429                    12
V0430                     2
ANOS_ESTUDO              17
PESO                   5501
PESO_FINAL             5501
RENDA_TOTAL           55798
NIVEL_INSTRUCAO           7
RENDA_DISP_PC         57941
RENDA_MONET_PC        55398
RENDA_NAO_MONET_PC    55462
DEDUCAO_PC            46853
dtype: int64

In [50]:
morador_pof_zero_counts = morador_pof.eq(0).sum()
print(morador_pof_zero_counts)

UF                        0
ESTRATO_POF               0
TIPO_SITUACAO_REG         0
COD_UPA                   0
NUM_DOM                   0
NUM_UC                    0
COD_INFORMANTE            0
V0306                     0
V0401                     0
V04021                    0
V04022                    0
V04023                    0
V0403                  2121
V0404                     0
V0405                     0
V0406                     0
V0407                     0
V0408                     0
V0409                 92702
V0410                 75637
V0411                 40305
V0412                     0
V0413                 82860
V0414                     0
V0415                     0
V0416                     0
V041711                   0
V041712                   0
V041721                   0
V041722                   0
V041731                   0
V041732                   0
V041741                   0
V041742                   0
V0418                     0
V0419                     0
V0420                     0
V0421                     0
V0422                     0
V0423                     0
V0424                     0
V0425                     0
V0426                     0
V0427                     0
V0428                     0
V0429                     0
V0430                     0
ANOS_ESTUDO           27725
PESO                      0
PESO_FINAL                0
RENDA_TOTAL              27
NIVEL_INSTRUCAO           0
RENDA_DISP_PC            23
RENDA_MONET_PC          213
RENDA_NAO_MONET_PC     4138
DEDUCAO_PC            26044
dtype: int64

In [98]:
statistics.mean(morador_pof['RENDA_TOTAL'])

4864.562583687813

In [102]:
statistics.median(morador_pof['RENDA_TOTAL'])

3129.63

In [104]:
statistics.mode(morador_pof['RENDA_TOTAL'])

0.0

## Tabela 7 - Morador Qualidade de Vida - POF

In [51]:
morador_por_qualidade_vida = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/MORADOR_QUALI_VIDA.csv', delimiter=',')

In [52]:
morador_por_qualidade_vida.head(5)

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,NUM_UC,COD_INFORMANTE,CONTAGEM_PONDERADA,FUNCAO_PERDA,V201,...,C2,C3,C4,C5,C6,C7,RENDA_DISP_PC,RENDA_DISP_PC_SS,PESO,PESO_FINAL
0,11,1103,1,110005400,1,1,1,0.177778,0.113229,0,...,1,2,7,5,3,9,2488.984375,2383.936458,272.806669,372.984516
1,11,1103,1,110005400,1,1,2,0.177778,0.113229,0,...,1,2,7,5,3,9,2488.984375,2383.936458,272.806669,372.984516
2,11,1103,1,110005400,1,1,3,0.177778,0.113229,0,...,1,2,7,5,3,9,2488.984375,2383.936458,272.806669,372.984516
3,11,1103,1,110005400,1,1,4,0.177778,0.113229,0,...,1,2,7,5,3,9,2488.984375,2383.936458,272.806669,372.984516
4,11,1103,1,110005400,2,1,1,0.300000,0.203610,0,...,1,2,5,4,4,10,3474.625556,3373.902222,272.806669,372.984516

In [53]:
morador_por_qualidade_vida.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'COD_INFORMANTE', 'CONTAGEM_PONDERADA', 'FUNCAO_PERDA',
       'V201', 'V202', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210',
       'V211', 'V212', 'V214', 'V215', 'V216', 'V217', 'V301', 'V302', 'V303',
       'V304', 'V305', 'V306', 'V307', 'V308', 'V401', 'V402', 'V403', 'V501',
       'V502', 'V503', 'V504', 'V505', 'V506', 'V601', 'V602', 'V603', 'V604',
       'V605', 'V606', 'V607', 'V608', 'V609', 'V610', 'V611', 'V701', 'V702',
       'V703', 'V704', 'V801', 'V802', 'V901', 'V902', 'GRANDE_REGIAO', 'C1',
       'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'RENDA_DISP_PC', 'RENDA_DISP_PC_SS',
       'PESO', 'PESO_FINAL'],
      dtype='object')

In [54]:
morador_por_qualidade_vida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178369 entries, 0 to 178368
Data columns (total 72 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   UF                  178369 non-null  int64
 1   ESTRATO_POF         178369 non-null  int64
 2   TIPO_SITUACAO_REG   178369 non-null  int64
 3   COD_UPA             178369 non-null  int64
 4   NUM_DOM             178369 non-null  int64
 5   NUM_UC              178369 non-null  int64
 6   COD_INFORMANTE      178369 non-null  int64
 7   CONTAGEM_PONDERADA  178369 non-null  float64
 8   FUNCAO_PERDA        178369 non-null  float64
 9   V201                178369 non-null  int64
 10  V202                178369 non-null  int64
 11  V204                178369 non-null  int64
 12  V205                178369 non-null  int64
 13  V206                178369 non-null  int64
 14  V207                178369 non-null  int64
 15  V208                178369 non-null  int64
 16  V209                178369 non-null  int64
 17  V210                178369 non-null  int64
 18  V211                178369 non-null  int64
 19  V212                178369 non-null  int64
 20  V214                178369 non-null  int64
 21  V215                178369 non-null  int64
 22  V216                178369 non-null  int64
 23  V217                178369 non-null  int64
 24  V301                178369 non-null  int64
 25  V302                178369 non-null  int64
 26  V303                178369 non-null  int64
 27  V304                178369 non-null  int64
 28  V305                178369 non-null  int64
 29  V306                178369 non-null  int64
 30  V307                178369 non-null  int64
 31  V308                178369 non-null  int64
 32  V401                178369 non-null  int64
 33  V402                178369 non-null  int64
 34  V403                178369 non-null  int64
 35  V501                178369 non-null  int64
 36  V502                178369 non-null  int64
 37  V503                178369 non-null  int64
 38  V504                178369 non-null  int64
 39  V505                178369 non-null  int64
 40  V506                178369 non-null  int64
 41  V601                178369 non-null  int64
 42  V602                178369 non-null  int64
 43  V603                178369 non-null  int64
 44  V604                178369 non-null  int64
 45  V605                178369 non-null  int64
 46  V606                178369 non-null  int64
 47  V607                178369 non-null  int64
 48  V608                178369 non-null  int64
 49  V609                178369 non-null  int64
 50  V610                178369 non-null  int64
 51  V611                178369 non-null  int64
 52  V701                178369 non-null  int64
 53  V702                178369 non-null  int64
 54  V703                178369 non-null  int64
 55  V704                178369 non-null  int64
 56  V801                178369 non-null  int64
 57  V802                178369 non-null  int64
 58  V901                178369 non-null  int64
 59  V902                178369 non-null  int64
 60  GRANDE_REGIAO       178369 non-null  int64
 61  C1                  178369 non-null  int64
 62  C2                  178369 non-null  int64
 63  C3                  178369 non-null  int64
 64  C4                  178369 non-null  int64
 65  C5                  178369 non-null  int64
 66  C6                  178369 non-null  int64
 67  C7                  178369 non-null  int64
 68  RENDA_DISP_PC       178369 non-null  float64
 69  RENDA_DISP_PC_SS    178369 non-null  float64
 70  PESO                178369 non-null  float64
 71  PESO_FINAL          178369 non-null  float64
dtypes: float64(6), int64(66)
memory usage: 98.0 MB

In [55]:
morador_por_qualidade_vida.isnull().sum()

UF                   0
ESTRATO_POF          0
TIPO_SITUACAO_REG    0
COD_UPA              0
NUM_DOM              0
                    ..
C7                   0
RENDA_DISP_PC        0
RENDA_DISP_PC_SS     0
PESO                 0
PESO_FINAL           0
Length: 72, dtype: int64

In [56]:
morador_por_qualidade_vida.nunique()

UF                      27
ESTRATO_POF            575
TIPO_SITUACAO_REG        2
COD_UPA               5501
NUM_DOM                 20
                     ...
C7                      10
RENDA_DISP_PC        57941
RENDA_DISP_PC_SS     57916
PESO                  5501
PESO_FINAL            5501
Length: 72, dtype: int64

In [57]:
morador_por_qualidade_vida_zero_counts = morador_por_qualidade_vida.eq(0).sum()
print(morador_por_qualidade_vida_zero_counts)

UF                    0
ESTRATO_POF           0
TIPO_SITUACAO_REG     0
COD_UPA               0
NUM_DOM               0
                     ..
C7                    0
RENDA_DISP_PC        23
RENDA_DISP_PC_SS     28
PESO                  0
PESO_FINAL            0
Length: 72, dtype: int64

## Tabela 8 - Caderneta Coletiva - POF

In [58]:
caderneta_coletiva_pof = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/caderneta_coletiva.csv')
caderneta_coletiva_pof.head(5)

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,NUM_UC,QUADRO,SEQ,V9001,V9002,...,COD_IMPUT_VALOR,FATOR_ANUALIZACAO,PESO,PESO_FINAL,RENDA_TOTAL,V9005,V9007,V9009,QTD_FINAL,V9004
0,11,1103,1,110005400,1,1,67,1,6300112,3,...,0,52,272.806669,372.984516,11254.75,1.0,1301.0,802.0,5.000,101
1,11,1103,1,110005400,1,1,67,2,7100201,3,...,0,52,272.806669,372.984516,11254.75,4.0,4806.0,NaN,4.000,101
2,11,1103,1,110005400,1,1,67,3,8300101,3,...,0,52,272.806669,372.984516,11254.75,2.0,201.0,NaN,8.828,101
3,11,1103,1,110005400,1,1,67,4,6400601,3,...,0,52,272.806669,372.984516,11254.75,2.0,4806.0,NaN,2.000,101
4,11,1103,1,110005400,1,1,67,5,6900901,3,...,0,52,272.806669,372.984516,11254.75,1.0,201.0,NaN,0.270,101

In [59]:
caderneta_coletiva_pof.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'QUADRO', 'SEQ', 'V9001', 'V9002', 'V8000', 'DEFLATOR',
       'V8000_DEFLA', 'COD_IMPUT_VALOR', 'FATOR_ANUALIZACAO', 'PESO',
       'PESO_FINAL', 'RENDA_TOTAL', 'V9005', 'V9007', 'V9009', 'QTD_FINAL',
       'V9004'],
      dtype='object')

In [60]:
caderneta_coletiva_pof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789995 entries, 0 to 789994
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   UF                 789995 non-null  int64
 1   ESTRATO_POF        789995 non-null  int64
 2   TIPO_SITUACAO_REG  789995 non-null  int64
 3   COD_UPA            789995 non-null  int64
 4   NUM_DOM            789995 non-null  int64
 5   NUM_UC             789995 non-null  int64
 6   QUADRO             789995 non-null  int64
 7   SEQ                789995 non-null  int64
 8   V9001              789995 non-null  int64
 9   V9002              789995 non-null  int64
 10  V8000              789995 non-null  float64
 11  DEFLATOR           735853 non-null  float64
 12  V8000_DEFLA        789995 non-null  float64
 13  COD_IMPUT_VALOR    789995 non-null  int64
 14  FATOR_ANUALIZACAO  789995 non-null  int64
 15  PESO               789995 non-null  float64
 16  PESO_FINAL         789995 non-null  float64
 17  RENDA_TOTAL        789995 non-null  float64
 18  V9005              725943 non-null  float64
 19  V9007              725943 non-null  float64
 20  V9009              279618 non-null  float64
 21  QTD_FINAL          718561 non-null  float64
 22  V9004              789995 non-null  int64
dtypes: float64(10), int64(13)
memory usage: 138.6 MB

In [61]:
caderneta_coletiva_pof.isnull().sum()

UF                        0
ESTRATO_POF               0
TIPO_SITUACAO_REG         0
COD_UPA                   0
NUM_DOM                   0
NUM_UC                    0
QUADRO                    0
SEQ                       0
V9001                     0
V9002                     0
V8000                     0
DEFLATOR              54142
V8000_DEFLA               0
COD_IMPUT_VALOR           0
FATOR_ANUALIZACAO         0
PESO                      0
PESO_FINAL                0
RENDA_TOTAL               0
V9005                 64052
V9007                 64052
V9009                510377
QTD_FINAL             71434
V9004                     0
dtype: int64

In [62]:
caderneta_coletiva_pof.nunique()

UF                       27
ESTRATO_POF             575
TIPO_SITUACAO_REG         2
COD_UPA                5495
NUM_DOM                  20
NUM_UC                    3
QUADRO                    7
SEQ                     136
V9001                  4848
V9002                    11
V8000                  6564
DEFLATOR             205676
V8000_DEFLA            9742
COD_IMPUT_VALOR           2
FATOR_ANUALIZACAO         1
PESO                   5495
PESO_FINAL             5495
RENDA_TOTAL           48766
V9005                  6156
V9007                   290
V9009                   671
QTD_FINAL              7566
V9004                   372
dtype: int64

In [63]:
caderneta_coletiva_pof_zero_counts = caderneta_coletiva_pof.eq(0).sum()
print(caderneta_coletiva_pof_zero_counts)

UF                        0
ESTRATO_POF               0
TIPO_SITUACAO_REG         0
COD_UPA                   0
NUM_DOM                   0
NUM_UC                    0
QUADRO                    0
SEQ                       0
V9001                     0
V9002                     0
V8000                     0
DEFLATOR                  0
V8000_DEFLA               0
COD_IMPUT_VALOR      779701
FATOR_ANUALIZACAO         0
PESO                      0
PESO_FINAL                0
RENDA_TOTAL              59
V9005                     0
V9007                     0
V9009                     0
QTD_FINAL                 0
V9004                     0
dtype: int64

In [83]:
statistics.mean(caderneta_coletiva_pof['RENDA_TOTAL'])

5960.231367565618

In [82]:
statistics.median(caderneta_coletiva_pof['RENDA_TOTAL'])

3606.09

In [84]:
statistics.mode(caderneta_coletiva_pof['RENDA_TOTAL'])

19805.35

## Tabela 9 - Despesa Individual - POF

In [64]:
despesa_individual_pof = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/despesa_individual.csv', delimiter=',')
despesa_individual_pof.head(5)

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,NUM_UC,COD_INFORMANTE,QUADRO,SEQ,V9001,...,V4104,V4105,DEFLATOR,V8000_DEFLA,COD_IMPUT_VALOR,FATOR_ANUALIZACAO,PESO,PESO_FINAL,RENDA_TOTAL,V9004
0,11,1103,1,110005400,1,1,2,22,0,2200101,...,NaN,NaN,1.000000,7.00,0,52,272.806669,372.984516,11254.75,NaN
1,11,1103,1,110005400,1,1,1,23,13,2301401,...,NaN,NaN,1.050646,105.06,0,52,272.806669,372.984516,11254.75,NaN
2,11,1103,1,110005400,1,1,1,24,0,2400101,...,NaN,NaN,1.013176,25.33,0,52,272.806669,372.984516,11254.75,4901.0
3,11,1103,1,110005400,1,1,2,24,0,2400101,...,NaN,NaN,1.013176,25.33,0,52,272.806669,372.984516,11254.75,4901.0
4,11,1103,1,110005400,1,1,1,24,18,2401901,...,NaN,NaN,1.021505,6.13,0,52,272.806669,372.984516,11254.75,4901.0

In [65]:
despesa_individual_pof.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'COD_INFORMANTE', 'QUADRO', 'SEQ', 'V9001', 'V9002', 'V8000',
       'V9010', 'V9011', 'V9012', 'V4104', 'V4105', 'DEFLATOR', 'V8000_DEFLA',
       'COD_IMPUT_VALOR', 'FATOR_ANUALIZACAO', 'PESO', 'PESO_FINAL',
       'RENDA_TOTAL', 'V9004'],
      dtype='object')

In [66]:
despesa_individual_pof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836032 entries, 0 to 1836031
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   UF                 int64
 1   ESTRATO_POF        int64
 2   TIPO_SITUACAO_REG  int64
 3   COD_UPA            int64
 4   NUM_DOM            int64
 5   NUM_UC             int64
 6   COD_INFORMANTE     int64
 7   QUADRO             int64
 8   SEQ                int64
 9   V9001              int64
 10  V9002              int64
 11  V8000              float64
 12  V9010              float64
 13  V9011              float64
 14  V9012              float64
 15  V4104              float64
 16  V4105              float64
 17  DEFLATOR           float64
 18  V8000_DEFLA        float64
 19  COD_IMPUT_VALOR    int64
 20  FATOR_ANUALIZACAO  int64
 21  PESO               float64
 22  PESO_FINAL         float64
 23  RENDA_TOTAL        float64
 24  V9004              float64
dtypes: float64(12), int64(13)
memory usage: 350.2 MB

In [67]:
despesa_individual_pof.isnull().sum()

UF                         0
ESTRATO_POF                0
TIPO_SITUACAO_REG          0
COD_UPA                    0
NUM_DOM                    0
NUM_UC                     0
COD_INFORMANTE             0
QUADRO                     0
SEQ                        0
V9001                      0
V9002                      0
V8000                      0
V9010                1549582
V9011                1549582
V9012                1821652
V4104                1787776
V4105                1787776
DEFLATOR              191540
V8000_DEFLA                0
COD_IMPUT_VALOR            0
FATOR_ANUALIZACAO          0
PESO                       0
PESO_FINAL                 0
RENDA_TOTAL                0
V9004                 457242
dtype: int64

In [68]:
despesa_individual_pof.nunique()

UF                       27
ESTRATO_POF             575
TIPO_SITUACAO_REG         2
COD_UPA                5501
NUM_DOM                  20
NUM_UC                    3
COD_INFORMANTE           13
QUADRO                   31
SEQ                      91
V9001                  2766
V9002                    11
V8000                 14766
V9010                    12
V9011                    12
V9012                     3
V4104                     8
V4105                     3
DEFLATOR             248151
V8000_DEFLA           96279
COD_IMPUT_VALOR           2
FATOR_ANUALIZACAO         4
PESO                   5501
PESO_FINAL             5501
RENDA_TOTAL           55752
V9004                   699
dtype: int64

In [69]:
despesa_individual_pof_zero_counts = despesa_individual_pof.eq(0).sum()
print(despesa_individual_pof_zero_counts)

UF                         0
ESTRATO_POF                0
TIPO_SITUACAO_REG          0
COD_UPA                    0
NUM_DOM                    0
NUM_UC                     0
COD_INFORMANTE             0
QUADRO                     0
SEQ                   386755
V9001                      0
V9002                      0
V8000                      0
V9010                      0
V9011                      0
V9012                      0
V4104                      0
V4105                      0
DEFLATOR                   0
V8000_DEFLA                0
COD_IMPUT_VALOR      1752171
FATOR_ANUALIZACAO          0
PESO                       0
PESO_FINAL                 0
RENDA_TOTAL               42
V9004                      0
dtype: int64

In [105]:
statistics.mean(despesa_individual_pof['RENDA_TOTAL'])

6415.419691633915

In [106]:
statistics.median(despesa_individual_pof['RENDA_TOTAL'])

3944.26

In [107]:
statistics.mode(despesa_individual_pof['RENDA_TOTAL'])

16060.67

## Tabela 10 - Despesa Coletiva - POF

In [70]:
despesa_coletiva_pof = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/DESPESA_COLETIVA.csv', delimiter=',')
despesa_coletiva_pof.head(5)

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,NUM_UC,QUADRO,SEQ,V9001,V9002,...,DEFLATOR,V8000_DEFLA,V1904_DEFLA,COD_IMPUT_VALOR,COD_IMPUT_QUANTIDADE,FATOR_ANUALIZACAO,PESO,PESO_FINAL,RENDA_TOTAL,V9004
0,11,1103,1,110005400,1,1,6,0,600101,1,...,0.892857,248.21,NaN,0,1.0,12,272.806669,372.984516,11254.75,NaN
1,11,1103,1,110005400,1,1,6,1,600201,1,...,1.084304,48.79,NaN,0,NaN,12,272.806669,372.984516,11254.75,NaN
2,11,1103,1,110005400,1,1,6,3,600401,1,...,0.981176,115.78,NaN,0,NaN,12,272.806669,372.984516,11254.75,NaN
3,11,1103,1,110005400,1,1,6,4,600501,1,...,1.000000,80.00,NaN,0,NaN,12,272.806669,372.984516,11254.75,NaN
4,11,1103,1,110005400,1,1,6,5,600601,1,...,1.000000,100.00,NaN,0,NaN,12,272.806669,372.984516,11254.75,NaN

In [71]:
despesa_coletiva_pof.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'QUADRO', 'SEQ', 'V9001', 'V9002', 'V9005', 'V8000', 'V9010',
       'V9011', 'V9012', 'V1904', 'V1905', 'DEFLATOR', 'V8000_DEFLA',
       'V1904_DEFLA', 'COD_IMPUT_VALOR', 'COD_IMPUT_QUANTIDADE',
       'FATOR_ANUALIZACAO', 'PESO', 'PESO_FINAL', 'RENDA_TOTAL', 'V9004'],
      dtype='object')

In [72]:
despesa_coletiva_pof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478572 entries, 0 to 478571
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   UF                    478572 non-null  int64
 1   ESTRATO_POF           478572 non-null  int64
 2   TIPO_SITUACAO_REG     478572 non-null  int64
 3   COD_UPA               478572 non-null  int64
 4   NUM_DOM               478572 non-null  int64
 5   NUM_UC                478572 non-null  int64
 6   QUADRO                478572 non-null  int64
 7   SEQ                   478572 non-null  int64
 8   V9001                 478572 non-null  int64
 9   V9002                 478572 non-null  int64
 10  V9005                 52182 non-null   float64
 11  V8000                 478572 non-null  float64
 12  V9010                 44470 non-null   float64
 13  V9011                 44470 non-null   float64
 14  V9012                 138423 non-null  float64
 15  V1904                 1452 non-null    float64
 16  V1905                 10277 non-null   float64
 17  DEFLATOR              470612 non-null  float64
 18  V8000_DEFLA           478572 non-null  float64
 19  V1904_DEFLA           1442 non-null    float64
 20  COD_IMPUT_VALOR       478572 non-null  int64
 21  COD_IMPUT_QUANTIDADE  52182 non-null   float64
 22  FATOR_ANUALIZACAO     478572 non-null  int64
 23  PESO                  478572 non-null  float64
 24  PESO_FINAL            478572 non-null  float64
 25  RENDA_TOTAL           478572 non-null  float64
 26  V9004                 258745 non-null  float64
dtypes: float64(15), int64(12)
memory usage: 98.6 MB

In [73]:
despesa_coletiva_pof.isnull().sum()

UF                           0
ESTRATO_POF                  0
TIPO_SITUACAO_REG            0
COD_UPA                      0
NUM_DOM                      0
NUM_UC                       0
QUADRO                       0
SEQ                          0
V9001                        0
V9002                        0
V9005                   426390
V8000                        0
V9010                   434102
V9011                   434102
V9012                   340149
V1904                   477120
V1905                   468295
DEFLATOR                  7960
V8000_DEFLA                  0
V1904_DEFLA             477130
COD_IMPUT_VALOR              0
COD_IMPUT_QUANTIDADE    426390
FATOR_ANUALIZACAO            0
PESO                         0
PESO_FINAL                   0
RENDA_TOTAL                  0
V9004                   219827
dtype: int64

In [74]:
despesa_coletiva_pof.nunique()

UF                         27
ESTRATO_POF               575
TIPO_SITUACAO_REG           2
COD_UPA                  5501
NUM_DOM                    20
NUM_UC                      3
QUADRO                     13
SEQ                        63
V9001                     999
V9002                      11
V9005                     996
V8000                   22576
V9010                      12
V9011                      12
V9012                       3
V1904                     285
V1905                       3
DEFLATOR                36620
V8000_DEFLA             85506
V1904_DEFLA              1051
COD_IMPUT_VALOR             2
COD_IMPUT_QUANTIDADE        2
FATOR_ANUALIZACAO           3
PESO                     5501
PESO_FINAL               5501
RENDA_TOTAL             55687
V9004                     465
dtype: int64

In [75]:
despesa_coletiva_pof_zero_counts = despesa_coletiva_pof.eq(0).sum()
print(despesa_coletiva_pof_zero_counts)

UF                           0
ESTRATO_POF                  0
TIPO_SITUACAO_REG            0
COD_UPA                      0
NUM_DOM                      0
NUM_UC                       0
QUADRO                       0
SEQ                     132418
V9001                        0
V9002                        0
V9005                        0
V8000                        0
V9010                        0
V9011                        0
V9012                        0
V1904                        0
V1905                        0
DEFLATOR                     0
V8000_DEFLA                  0
V1904_DEFLA                  0
COD_IMPUT_VALOR         453788
COD_IMPUT_QUANTIDADE     33848
FATOR_ANUALIZACAO            0
PESO                         0
PESO_FINAL                   0
RENDA_TOTAL                 22
V9004                        0
dtype: int64

In [108]:
statistics.mean(despesa_coletiva_pof['RENDA_TOTAL'])

5802.390797163227

In [109]:
statistics.median(despesa_coletiva_pof['RENDA_TOTAL'])

3513.54

In [110]:
statistics.mode(despesa_coletiva_pof['RENDA_TOTAL'])

3901.03

## Tabela 11 - Consumo Alimentar - POF

In [76]:
consumo_alimentar_pof = pd.read_csv('/content/drive/Shareddrives/modulo_8/Dados_em_CSV_POF/consumo_alimentar.csv', delimiter=',')
consumo_alimentar_pof.head(5)

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,NUM_UC,COD_INFOR.MANTE,QUADRO,SEQ,V9005,...,COBALAMINA,VITD,VITE,VITC,FOLATO,PESO,PESO_FINAL,RENDA_TOTAL,DIA_SEMANA,DIA_ATIPICO
0,11,1101,1,110000016,2,1,1,72,1,1.0,...,0.000,0.0,0.1260,0.000,104.6850,1316.609446,2390.486523,3855.34,Quarta-Feira,2
1,11,1101,1,110000016,2,1,1,72,1,NaN,...,0.000,0.0,0.7924,0.000,0.1358,1316.609446,2390.486523,3855.34,Quarta-Feira,2
2,11,1101,1,110000016,2,1,1,72,2,1.0,...,0.285,0.0,0.0750,0.000,5.0850,1316.609446,2390.486523,3855.34,Quarta-Feira,2
3,11,1101,1,110000016,2,1,1,72,2,NaN,...,0.000,0.0,0.0000,0.000,0.0000,1316.609446,2390.486523,3855.34,Quarta-Feira,2
4,11,1101,1,110000016,2,1,1,72,3,2.0,...,0.000,0.0,0.1620,0.405,2.4120,1316.609446,2390.486523,3855.34,Quarta-Feira,2

In [77]:
consumo_alimentar_pof.columns

Index(['UF', 'ESTRATO_POF', 'TIPO_SITUACAO_REG', 'COD_UPA', 'NUM_DOM',
       'NUM_UC', 'COD_INFOR.MANTE', 'QUADRO', 'SEQ', 'V9005', 'V9007', 'V9001',
       'V9015', 'V9016', 'V9017', 'V9018', 'V9019', 'V9020', 'V9021', 'V9022',
       'V9023', 'V9024', 'V9025', 'V9026', 'V9027', 'V9028', 'V9029', 'V9030',
       'COD_UNIDADE_MEDIDA_FINAL', 'COD_PREPARACAO_FINAL', 'GRAMATURA1', 'QTD',
       'COD_TBCA', 'ENERGIA_KCAL', 'ENERGIA_KJ', 'PTN', 'CHOTOT', 'FIBRA',
       'LIP', 'COLEST', 'AGSAT', 'AGMONO', 'AGPOLI', 'AGTRANS', 'CALCIO',
       'FERRO', 'SODIO', 'MAGNESIO', 'FOSFORO', 'POTASSIO', 'COBRE', 'ZINCO',
       'VITA_RAE', 'TIAMINA', 'RIBOFLAVINA', 'NIACINA', 'PIRIDOXAMINA',
       'COBALAMINA', 'VITD', 'VITE', 'VITC', 'FOLATO', 'PESO', 'PESO_FINAL',
       'RENDA_TOTAL', 'DIA_SEMANA', 'DIA_ATIPICO'],
      dtype='object')

In [78]:
consumo_alimentar_pof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175390 entries, 0 to 1175389
Data columns (total 67 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UF                        1175390 non-null  int64
 1   ESTRATO_POF               1175390 non-null  int64
 2   TIPO_SITUACAO_REG         1175390 non-null  int64
 3   COD_UPA                   1175390 non-null  int64
 4   NUM_DOM                   1175390 non-null  int64
 5   NUM_UC                    1175390 non-null  int64
 6   COD_INFOR.MANTE           1175390 non-null  int64
 7   QUADRO                    1175390 non-null  int64
 8   SEQ                       1175390 non-null  int64
 9   V9005                     1007126 non-null  float64
 10  V9007                     1007126 non-null  float64
 11  V9001                     1175390 non-null  int64
 12  V9015                     1175390 non-null  object
 13  V9016                     176499 non-null   float64
 14  V9017                     1175390 non-null  int64
 15  V9018                     1175390 non-null  int64
 16  V9019                     1007126 non-null  float64
 17  V9020                     1007126 non-null  float64
 18  V9021                     1007126 non-null  float64
 19  V9022                     1007126 non-null  float64
 20  V9023                     1007126 non-null  float64
 21  V9024                     1007126 non-null  float64
 22  V9025                     1007126 non-null  float64
 23  V9026                     1007126 non-null  float64
 24  V9027                     1007126 non-null  float64
 25  V9028                     1007126 non-null  float64
 26  V9029                     1007126 non-null  float64
 27  V9030                     1007126 non-null  float64
 28  COD_UNIDADE_MEDIDA_FINAL  1007126 non-null  float64
 29  COD_PREPARACAO_FINAL      1007126 non-null  float64
 30  GRAMATURA1                1007126 non-null  float64
 31  QTD                       1175390 non-null  float64
 32  COD_TBCA                  1175390 non-null  object
 33  ENERGIA_KCAL              1175390 non-null  float64
 34  ENERGIA_KJ                1175390 non-null  float64
 35  PTN                       1175390 non-null  float64
 36  CHOTOT                    1175390 non-null  float64
 37  FIBRA                     1175390 non-null  float64
 38  LIP                       1175390 non-null  float64
 39  COLEST                    1175390 non-null  float64
 40  AGSAT                     1175390 non-null  float64
 41  AGMONO                    1175390 non-null  float64
 42  AGPOLI                    1175390 non-null  float64
 43  AGTRANS                   1175390 non-null  float64
 44  CALCIO                    1175390 non-null  float64
 45  FERRO                     1175390 non-null  float64
 46  SODIO                     1175390 non-null  float64
 47  MAGNESIO                  1175390 non-null  float64
 48  FOSFORO                   1175390 non-null  float64
 49  POTASSIO                  1175390 non-null  float64
 50  COBRE                     1175390 non-null  float64
 51  ZINCO                     1175390 non-null  float64
 52  VITA_RAE                  1175390 non-null  float64
 53  TIAMINA                   1175390 non-null  float64
 54  RIBOFLAVINA               1175390 non-null  float64
 55  NIACINA                   1175390 non-null  float64
 56  PIRIDOXAMINA              1175390 non-null  float64
 57  COBALAMINA                1175390 non-null  float64
 58  VITD                      1175390 non-null  float64
 59  VITE                      1175390 non-null  float64
 60  VITC                      1175390 non-null  float64
 61  FOLATO                    1175390 non-null  float64
 62  PESO                      1175390 non-null  float64
 63  PESO_FINAL                1175390 non-null  float64
 64  RENDA_TOTAL               1175390 non-null  float64
 65  DIA_SEMANA                1175390 non-null  object
 66  DIA_ATIPICO               1175390 non-null  int64
dtypes: float64(51), int64(13), object(3)
memory usage: 600.8+ MB

In [79]:
consumo_alimentar_pof.isnull().sum()

UF                   0
ESTRATO_POF          0
TIPO_SITUACAO_REG    0
COD_UPA              0
NUM_DOM              0
                    ..
PESO                 0
PESO_FINAL           0
RENDA_TOTAL          0
DIA_SEMANA           0
DIA_ATIPICO          0
Length: 67, dtype: int64

In [80]:
consumo_alimentar_pof.nunique()

UF                      27
ESTRATO_POF            575
TIPO_SITUACAO_REG        2
COD_UPA               5404
NUM_DOM                 20
                     ...
PESO                  5403
PESO_FINAL           19663
RENDA_TOTAL          19867
DIA_SEMANA               7
DIA_ATIPICO              2
Length: 67, dtype: int64

In [81]:
consumo_alimentar_pof_zero_counts = consumo_alimentar_pof.eq(0).sum()
print(consumo_alimentar_pof_zero_counts)

UF                    0
ESTRATO_POF           0
TIPO_SITUACAO_REG     0
COD_UPA               0
NUM_DOM               0
                     ..
PESO                  0
PESO_FINAL            0
RENDA_TOTAL          86
DIA_SEMANA            0
DIA_ATIPICO           0
Length: 67, dtype: int64

In [111]:
statistics.mean(consumo_alimentar_pof['RENDA_TOTAL'])

4967.096795157352

In [112]:
statistics.median(consumo_alimentar_pof['RENDA_TOTAL'])

3246.33

In [113]:
statistics.mode(consumo_alimentar_pof['RENDA_TOTAL'])

3163.55

In [114]:
statistics.mean(consumo_alimentar_pof['PESO'])

2734.3989062004334

In [115]:
statistics.mode(consumo_alimentar_pof['PESO'])

1890.81711538

In [116]:
statistics.mean(consumo_alimentar_pof['PESO_FINAL'])

3832.2369992190033

In [117]:
statistics.mode(consumo_alimentar_pof['PESO_FINAL'])

881.89845438