In [1]:
import pandas as pd
import numpy as np

In [3]:
!pip install mcdata_package

Requirement already satisfied: mcdata in c:\users\rodrigo\anaconda3\lib\site-packages (0.0.1)
Collecting mcdata_package
  Obtaining dependency information for mcdata_package from https://files.pythonhosted.org/packages/19/9a/3049d85a82d4fae199992bde00b211774e0cc00084bf8507e187c5777220/mcdata_package-0.0.6-py3-none-any.whl.metadata
  Downloading mcdata_package-0.0.6-py3-none-any.whl.metadata (1.9 kB)
Downloading mcdata_package-0.0.6-py3-none-any.whl (4.5 kB)
Installing collected packages: mcdata_package
Successfully installed mcdata_package-0.0.6

In [4]:
from mcdata.transformar import csv_to_parquet

In [44]:
df = pd.read_csv('c:\\Users\\Rodrigo\\Documents\\PROJETOS\\INTELI\\MÓDULO 8\\Dados-20231019T002519Z-001\\Dados\\Dados em TXT\\Dados em CSV\\cnpjs_2.csv', delimiter = ';')

C:\Users\Rodrigo\AppData\Local\Temp\ipykernel_19152\3714255456.py:1: DtypeWarning: Columns (10,24,25,29,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('c:\\Users\\Rodrigo\\Documents\\PROJETOS\\INTELI\\MÓDULO 8\\Dados-20231019T002519Z-001\\Dados\\Dados em TXT\\Dados em CSV\\cnpjs_2.csv', delimiter = ';')

In [45]:
df['data'] = pd.to_datetime(df['data'], errors='coerce')  # Convert to datetime
df['data_situacao_cadastral'] = pd.to_datetime(df['data_situacao_cadastral'], errors='coerce')  # Convert to datetime
df['data_inicio_atividade'] = pd.to_datetime(df['data_inicio_atividade'], errors='coerce')  # Convert to datetime
df['cep'] = df['cep'].apply(str)  # Convert cep to string (assuming it may contain non-numeric characters)
df['ddd_1'] = df['ddd_1'].apply(str)  # Convert cep to string (assuming it may contain non-numeric characters)
df['ddd_2'] = df['ddd_2'].apply(str)  # Convert cep to string (assuming it may contain non-numeric characters)
df['telefone_1'] = df['telefone_1'].apply(str)  # Convert telefone_1 to string
df['fax'] = pd.to_numeric(df['fax'], errors='coerce')

In [48]:
df.head()

,data,cnpj,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,...,cep,ddd_1,telefone_1,ddd_2,telefone_2,ddd_fax,fax,email,situacao_especial,data_situacao_especial
0,2022-08-13,22114251000130,22114251,1,30,1,SALGATERIA NOVA BRASILIA,2,2021-03-19,0,...,3583040.0,11.0,34125953,nan,NaN,NaN,NaN,lopes.fae@uol.com.br,NaN,NaN
1,2022-08-13,13771040000189,13771040,1,89,1,NaN,2,2011-06-08,0,...,8020000.0,11.0,25586794,nan,NaN,NaN,NaN,cida.almeida@qservice.com.br,NaN,NaN
2,2022-08-13,60359627000165,60359627,1,65,1,NaN,2,2005-11-03,0,...,8020320.0,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-08-13,36931709000158,36931709,1,58,1,LANCHONETE SIMPLES DELICIA,2,2020-04-14,0,...,8031000.0,11.0,25148867,nan,NaN,NaN,NaN,jefferson.c.teixeira1995@gmail.com,NaN,NaN
4,2022-08-13,41721828000116,41721828,1,16,1,MATHILDA BURGER E BROWNIE,2,2021-04-27,0,...,8060090.0,11.0,75816201,nan,NaN,NaN,NaN,ederamarques@gmail.com,NaN,NaN

In [35]:
df.to_csv('c:\\Users\\Rodrigo\\Documents\\PROJETOS\\INTELI\\MÓDULO 8\\Dados-20231019T002519Z-001\\Dados\\Dados em TXT\\Dados em CSV\\cnpjs_2.3.csv')

In [36]:
csv_to_parquet('c:\\Users\\Rodrigo\\Documents\\PROJETOS\\INTELI\\MÓDULO 8\\Dados-20231019T002519Z-001\\Dados\\Dados em TXT\\Dados em CSV\\cnpjs_2.3.csv',
               'c:\\Users\\Rodrigo\\Documents\\PROJETOS\\INTELI\\MÓDULO 8\\Dados-20231019T002519Z-001\\Dados\\Dados em TXT\\Dados em CSV\\cnpjs_2.3.parquet',
               )

c:\Users\Rodrigo\anaconda3\Lib\site-packages\mcdata\transformar.py:7: DtypeWarning: Columns (11,25,26,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_filepath)

ArrowInvalid: ("Could not convert '75' with type str: tried to convert to double", 'Conversion failed for column ddd_1 with type object')